// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Good Wardrobe colors

$red-me: #A62E2E;
$orange-me: #D9734E;
$aubergine: #322945;
$blue-sea: #2d979e;
$mustard: #f0c630;
