.stat-container {
  text-align: center;
  padding:40px;
  margin:10px;
}

.badges {
  padding: 50px;
}

.stat-container ul {
  list-style-type: none;
  display:inline-block;
}

.stat-container li {
  float:left;
  margin-right: 0px;
  padding: 20px 20px;
}

.stat-container img {
  width:100px;
  height:100px;
}

.text-center{
  text-align: center!important;
}


.description-badge {
  width: 300px;
}
