<div class="footer">
  <div class="footer-links">
    <a href="#">FAQ</i></a>
    <a href="#">CONTACT</i></a>
    <a href="#">TERMS</i></a>
  </div>
  <div class="footer-copyright">
    <h3>The Good Wardrobe</h3>
  </div>
</div>
