<div class="container">
  <div class="row">
  <div class="col-2"></div>
  <div>
  <h1 class="col-xs-8 text-center">Add a new Product</h1>
   </div>
   </div>
</div>
  <%= render 'shared/form' %>
</div>
