.card-trip img {
  width: 100%;
  height: 500px
}

.title-index {
  text-align: center;
  font-size: 50px;
  margin-bottom: 0px;
  color: $aubergine;
}

.add-product {
  text-align:right;
  width: 82%;
  margin: auto;
}

.img-card {position: relative}

.img-card .tag {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 25px;
  color: #fff;
  background-color: $aubergine;
  padding: 5px 25px 5px 25px;
  &:hover{
    color: #fff;
  }
}

.title-product {
  display: inline-block;
  font-size: 20px;
  color: $aubergine!important;
  &:hover {
    color: $blue-sea!important;
  }
}
.second-hand {
  display: inline-block;
  position: absolute;
  right: 10px;
  border-radius: 25px;
  color: #fff;
  background-color: $mustard;
  padding: 0px 25px 0px 25px;
  &:hover{
    color: #fff;
  }
}

.card-all {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 85%;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 30%;
  margin: 20px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0)!important;
  border: none!important;
}

#status {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
}

#change_status {
  font-size: 12px;
  padding: 8px;
  height: 25px;
  line-height: 8px;
  text-transform: capitalize;
  width: 110px;
  border-radius: 35px;
  background-color: #488AB8;
  box-shadow: 0 0 2px black;
}

.dropdown-menu form {
  margin-left: 20px;
}

.dropdown-menu form:nth-child(2) #change_status, .dropdown-menu form:nth-child(3) #change_status, .dropdown-menu form:nth-child(4) #change_status, .dropdown-menu form:nth-child(5) #change_status{
  background-color: $blue-sea;
}

.dropdown-menu form:nth-child(6) #change_status, .dropdown-menu form:nth-child(7) #change_status, .dropdown-menu form:nth-child(8) #change_status, .dropdown-menu form:nth-child(9) #change_status{
  background-color: #3EB893;
}

#dropdownMenuButton {
  border-radius: 35px;
  height: 30px;
  line-height: 30px;
}

.new-prod {
  color:#fff!important;
  border-radius:35px!important;
}

.card-trip-infos h3 {
  margin: 0!important;
}
