.container-show {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  min-height: calc(100vh - 166px);
  margin-bottom: 50px;
}
.big-container-show{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 80px;
}
.container-show h1 {
  text-align: center;
  margin-bottom: 45px;
}
.img-show, .text-show {
  display: inline-block;
  position: relative;
  width: 45%;
  vertical-align: top;
}

.btn-floating.btn-large {
  top: 5px;
}

.text-show {
  margin-top:-14px;
}
.img-show img {
  vertical-align: initial;
}
.img-show .tag {
  background-color: $aubergine!important;
  &:hover{
    color: #fff;
  }
}
.delete-show {
  background-color: $orange-me!important;
  &:hover{
    color: #fff;
  }
}
.img-show .tag a {
  color: #fff;
}
.back {
  color: #fff;
  background-color: $mustard!important;
  &:hover{
    color: #fff;
  }
}
.img-show img {
  height: 600px;
  object-fit: cover;
  display: block;
  margin: auto;
}
// variables
$fab-close-line-length: 1.64rem;
$fab-close-line-thickness: 2px;
$fab-close-animation-time: .3s;
$fab-close-spins: 1;
// button
.fixed-action-btn{
  &.spin-close{
    .btn-large {
      position: relative;
      i {
        opacity: 1;
        transition: transform $fab-close-animation-time,
      opacity $fab-close-animation-time;
      }
      &:before {
        transition: transform $fab-close-animation-time,
      opacity $fab-close-animation-time;
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        width: $fab-close-line-length;
        height: $fab-close-line-thickness;
        background: white;
        margin-top: -2px;
        margin-left: -$fab-close-line-length/2;
        transform: rotate(0);
        opacity: 0;
      }
      &:after {
        transition: transform $fab-close-animation-time,
      opacity $fab-close-animation-time;
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        width: $fab-close-line-length;
        height: $fab-close-line-thickness;
        background: white;
        margin-top: -2px;
        margin-left: -$fab-close-line-length/2;
        transform: rotate(0);
        opacity: 0;
      }
    }
    &.active{
      .btn-large{
        i{
          opacity: 0;
        }
        &:before{
          opacity: 1;
          transform: rotate(($fab-close-spins*2+1)*45deg);
        }
        &:after{
          opacity: 1;
          transform: rotate(($fab-close-spins*2+1)*135deg);
        }
      }
    }
  }
}


.title-details {
  display: inline-block;
  font-weight: bold;
  color: #4c5050;
}

.fixed-action-btn {
  position: absolute!important;
  right:130px!important;
  top:0px!important;
}

.bg-blue-sea {
  background-color: #2d979e;
}

.missing {
  color: $red-me
}

.container-left {
  margin-right: 50px;
}

.main-title-product{
  font-size: 35px;
  display: block;
}


#proportions {
  margin-top: 25px;
  margin-bottom: 25px;
}

.details-pdt {
  margin-top: 5px;
}


